{{#partial "content"}}
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link text-danger" href="/">Home <span class="sr-only">heroes</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/squads/new"> squad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/heroes/new">hero</a>
                </li>
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link disabled" href="#">Disabled</a>-->
                <!--                </li>-->
            </ul>
        </div>
    </nav>

    <form class="form-group" action="/heroes" method= post>
        <h3 class="display-3 text-success mt-3">Create Heroes </h3>
        <label for="name">Name: </label>
        <input class="form-control" id="name" name="name" type="text" placeholder="Enter hero's name" required>
        <label for="age">Age: </label>
        <input class="form-control" id="age" name="age" type="number" placeholder="Enter hero's age" required>
        <label for="strength">Strength: </label>
        <input class="form-control" id="strength" name="strength" type="text" placeholder="Enter hero's Strength" required>
        <label for="weakness">Weakness: </label>
        <input class="form-control" id="weakness" name="weakness" type="text" placeholder="Enter hero's weakness" required>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label for="squadId" class="input-group-text"> Squad: </label>
            </div>
            <select class="custom-select" id="squadId" name="squadId">
                {{#each squads}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <button type="submit" class="btn btn-primary"> Create Hero</button>
    </form>
{{/partial}}

{{> layout.hbs}}