{{#partial "content"}}
    <p class="display-3"> LETS PICK BEST HEROES IN THE WORLD!</p>
    <li><img class="img-fluid" src = '/images/one.jpg'/></li>
    <p class="text-success">click the button to creat a hero.</p>
    <p>remember give the hero a name and the power </p>
    <a href="/Squad"><button type="submit" class="btn btn-primary">Submit</button></a>

{{/partial}}
{{>layout.hbs}}