{{#partial "title"}}

{{/partial}}

{{#partial "content"}}
    <div class="col-md-1"></div>
    <div class="card col-md-10">
        <p class="card-title" >Welcome!!</p>
        <p class="card-text"> Create Heroes and add them to Squads of you just created!</p>
        <a href="/squads/new" class="btn btn-outline-success col-md-6"> Create squad</a>
        <br>
    </div>

{{/partial}}

{{> layout.hbs}}