{{#partial "title"}}

{{/partial}}

{{#partial  "content"}}
    <div class="card bg text-center">
        <h2 class="card-title  text-center" >Welcome!!</h2>
        <hr>
        <p class="card-text text-center"> Create Heroes and add them to Squads of you just created!</p>
        <a href="/squads/new"  ><button  type="button" class="btn btn-secondary">create squad!</button></a>
        <a href="/heroes/new"  ><button  type="button" class="btn btn-secondary">create hero</button></a>
        <br>
    </div>

{{/partial}}

{{> layout.hbs}}

